## We finna wrangle

In these exercises, you will complete the first step toward the above goal: acquire and prepare the necessary Zillow data from the zillow database in the Codeup database server.

In [1]:
import warnings
warnings.filterwarnings('ignore')
import os

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import mason_functions as mf

In [2]:
def get_db_url(db_name):
    from env import host, user, password
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

### Exercise I
Acquire bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, and fips from the zillow database for all 'Single Family Residential' properties.

In [3]:
#define my sql query into the relational database
sql = '''
SELECT bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips
FROM properties_2017
WHERE propertylandusetypeid = 261
'''

#define my url
url = get_db_url('zillow')

#read the information from the db into a df
#I also don't want to keep querying the codeup rdbms (in case the kernel gotta go)
if os.path.isfile('properties_2017.csv'):
    df = pd.read_csv('properties_2017.csv', index_col = 0)
else:
    df = pd.read_sql(sql, url)
    df.to_csv('properties_2017.csv')

In [4]:
#at a glance
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 131.4 MB
None

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0

### Exercise II
Using your acquired Zillow data, walk through the summarization and cleaning steps in your wrangle.ipynb file like we did above. You may handle the missing values however you feel is appropriate and meaninful; remember to document your process and decisions using markdown and code commenting where helpful.

In [5]:
#summary statistics
df.describe().T

,count,mean,std,min,25%,50%,75%,max
bedroomcnt,2152852.0,3.287196,0.954754,0.00,3.00,3.00,4.00,25.00
bathroomcnt,2152852.0,2.230688,0.999280,0.00,2.00,2.00,3.00,32.00
calculatedfinishedsquarefeet,2144379.0,1862.855178,1222.125124,1.00,1257.00,1623.00,2208.00,952576.00
taxvaluedollarcnt,2152370.0,461896.237963,699676.049600,1.00,188170.25,327671.00,534527.00,98428909.00
yearbuilt,2143526.0,1960.949681,22.162196,1801.00,1949.00,1958.00,1976.00,2016.00
taxamount,2148421.0,5634.865978,8178.910249,1.85,2534.98,4108.95,6414.32,1337755.86
fips,2152863.0,6048.377335,20.433292,6037.00,6037.00,6037.00,6059.00,6111.00

In [6]:
#more perspective
df.sample(10)

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
496895,4.0,3.0,2148.0,103444.0,1965.0,1410.26,6037.0
2002127,4.0,4.0,3134.0,1108006.0,2012.0,11408.00,6059.0
532411,3.0,1.0,809.0,168135.0,1950.0,3194.20,6037.0
1808831,4.0,2.5,1741.0,73427.0,1965.0,902.86,6111.0
1921179,2.0,2.0,1308.0,83574.0,1961.0,1452.91,6037.0
1197643,4.0,3.0,2903.0,305098.0,1983.0,4368.80,6037.0
1840201,3.0,2.0,2200.0,490682.0,1971.0,5074.60,6059.0
967041,3.0,2.0,1203.0,55992.0,1963.0,885.98,6059.0
1662980,3.0,2.0,1286.0,229551.0,1951.0,2979.80,6037.0
973486,1.0,1.0,921.0,205303.0,1922.0,2469.34,6037.0

In [7]:
#what kind of nulls am I looking at here?
df.isnull().any()

bedroomcnt                       True
bathroomcnt                      True
calculatedfinishedsquarefeet     True
taxvaluedollarcnt                True
yearbuilt                        True
taxamount                        True
fips                            False
dtype: bool

In [8]:
#sum of nulls by column
df.isnull().sum()

bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

In [9]:
#list the columns with null values
df.columns[df.isnull().any()]

Index(['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet',
       'taxvaluedollarcnt', 'yearbuilt', 'taxamount'],
      dtype='object')

In [10]:
#how many bedrooms can a single family residence have?
df.bedroomcnt.value_counts(dropna = False, ascending = True)

25.0         1
16.0         2
18.0         3
15.0         6
14.0         7
NaN         11
12.0        12
13.0        16
11.0        34
10.0       121
9.0        291
8.0       1107
7.0       4807
0.0      13187
1.0      23166
6.0      25166
5.0     150866
2.0     335473
4.0     634289
3.0     964298
Name: bedroomcnt, dtype: int64

In [11]:
#how many bathrooms can a single family residence have?
df.bathroomcnt.value_counts(dropna = False).sort_index(ascending = False)

32.00         1
20.00         6
19.50         1
19.00         1
18.00         8
17.00         4
16.00        12
15.00        17
14.50         1
14.00        25
13.00        39
12.50         3
12.00        73
11.50         3
11.00       146
10.50        14
10.00       325
9.50         50
9.00        713
8.50        110
8.00       1692
7.50        384
7.00       4394
6.50       1333
6.00      10747
5.50       6217
5.00      28362
4.50      19506
4.00      82155
3.50      28518
3.00     422841
2.50     142981
2.00     943589
1.75          3
1.50      31211
1.00     414324
0.50         16
0.00      13027
NaN          11
Name: bathroomcnt, dtype: int64

In [12]:
#let's take a look at the rows where bedroom count is missing
df[df.bedroomcnt.isna()]

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
107763,NaN,NaN,NaN,67366.0,1926.0,780.54,6059.0
118612,NaN,NaN,NaN,43992.0,1946.0,541.64,6059.0
193993,NaN,NaN,1348.0,840698.0,1952.0,NaN,6059.0
1141339,NaN,NaN,200.0,188972.0,NaN,NaN,6037.0
1324608,NaN,NaN,990.0,435000.0,1906.0,NaN,6037.0
1442975,NaN,NaN,NaN,273196.0,NaN,NaN,6037.0
1647346,NaN,NaN,400.0,28347.0,1954.0,NaN,6037.0
1701026,NaN,NaN,NaN,407930.0,1926.0,NaN,6037.0
1722707,NaN,NaN,NaN,477161.0,NaN,NaN,6037.0
1776422,NaN,NaN,NaN,38855.0,NaN,NaN,6037.0
1797985,NaN,NaN,NaN,1017957.0,1990.0,NaN,6037.0

In [13]:
#quick reference to number of observations
len(df)

2152863

In [14]:
df = df[df.bathroomcnt.notna()]

In [15]:
df[df.bathroomcnt.isna()]

Empty DataFrame
Columns: [bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips]
Index: []

In [16]:
len(df)

2152852

### Exercise III
Store all of the necessary functions to automate your process from acquiring the data to returning a cleaned dataframe witn no missing values in your wrangle.py file. Name your final function wrangle_zillow.